// Place all the styles related to the tareas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
body {
  font-family: helvetica;
  background-color: white;
  color: brown;
  font-size: 12px;
}

p {
  text-align: justify;
}
